#root {
  width: 100%;
  height: auto;
  min-height: 750px;
  background: #FFFDFD;
  background: var(--white);
  font-family: Poppins, sans-serif;
  --black: #1A1B25;
  --white: #FFFDFD;
  --darkgrey: #525252;
  --lightgrey: #C8D0CE;
  --purple: #392061;
}