* {
  font-family: Poppins, sans-serif;
}
#root {
  width: 393px;
  height: 961px;
  background: #FFFDFD;
  font-family: Poppins, sans-serif;
}

.header {
  background-color: #392061;
  width: 393px;
  height: 60px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header > h1 {
  color: #FFFDFD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  padding-left: 25px;
  flex-grow: 1;
  width: 33%;
}

.profile {
  width: 30px;
  height: 30px;
  padding-top: 9px;
  padding-left: 10px;
}

.banner {
  width: 353px;
  height: 350px;
  border: 1px solid #C8D0CE;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  margin-top: 40px;
  margin: 20px;
}

.section {
  margin: 20px;
  display: flex;
  gap: 19px;
}

.my-bulb, .my-purchase {
  width: 167px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #C8D0CE;
  background: #FFFDFD;
  display: flex;
  position: relative;
}

.my-bulb > .bulb-icon, .my-purchase > .bag-icon {
  width: 42px;
  height: 42px;
  padding-left: 18px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.my-bulb > h3 {
  color: #1A1B25;
  font-size: 12px;
  font-style: normal;
  padding-left: 15px;
  position: relative;
}

.my-bulb > h2 {
  color: #1A1B25;
  font-size: 20px;
  font-style: normal;
  padding-left: 75px;
  padding-top: 15px;
  position: absolute;
}

.my-purchase > .text1 {
  color: #1A1B25;
  font-size: 16px;
  font-style: normal;
  padding-left: 10px;
  position: relative;
}

.my-purchase > .text2 {
  color: #1A1B25;
  font-size: 16px;
  font-style: normal;
  padding-left: 70px;
  padding-top: 18px;
  position: absolute;
}

.category {
  margin: 20px;
}

h2 {
  font-size: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
