#root {
  width: auto;
  height: auto;
  min-height: 800px;
  background: var(--white);
  font-family: Poppins, sans-serif;
  --black: #1A1B25;
  --white: #FFFDFD;
  --darkgrey: #525252;
  --lightgrey: #C8D0CE;
  --purple: #392061;
}

.banner {
  width: auto;
  min-height: 350px;
  height: auto;
  border: 1px solid #C8D0CE;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  margin-top: 40px;
  margin: 20px;
}

.section {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 19px;
}

.my-bulb, .my-purchase {
  width: 167px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #C8D0CE;
  background: #FFFDFD;
  color: var(--black);
  display: flex;
  position: relative;
}

.my-bulb > .bulb-icon, .my-purchase > .bag-icon {
  width: 42px;
  height: 42px;
  padding-left: 18px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.my-bulb > h3 {
  color: #1A1B25;
  font-size: 12px;
  font-style: normal;
  padding-left: 15px;
  position: relative;
}

.my-bulb > h2 {
  color: #1A1B25;
  font-size: 20px;
  font-style: normal;
  padding-left: 75px;
  padding-top: 15px;
  position: absolute;
}

.my-purchase > .text1 {
  color: #1A1B25;
  font-size: 16px;
  font-style: normal;
  padding-left: 10px;
  position: relative;
}

.my-purchase > .text2 {
  color: #1A1B25;
  font-size: 16px;
  font-style: normal;
  padding-left: 70px;
  padding-top: 18px;
  position: absolute;
}

.category-header {
  margin: 20px;
  color: var(--black);
}

.category-section {
  margin: 20px;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.banner-indicator {
  display: flex;
  margin-top: -10px;
  justify-content: center;
  justify-items: center;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #C8D0CE;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}