.product-card {
    width: 167px;
    height: 217px;
    border-radius: 15px;
    border: 1px solid var(--lightgrey);
    background: var(--white);
    display: flex;
    position: relative;
}

.img-area {
    height: 167px;
    border-bottom: 1px solid var(--lightgrey);
    background-color: var(--white);
    justify-content: center;
    justify-items: auto;
}

.img-area > img {
    max-height: 167px;
    height: auto;
    width: auto;
    padding: 5px;
    align-items: center;
    justify-items: center;
}

.text-area {
    width: 167px;
    height: 50px;
    padding: 5px;

}