.login-page {
    background-color: var(--purple);
    height: 750px;
}

.back-link {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;   
    margin: 20px;
}

.register-page {
    background-color: var(--purple);
    height: 100%;
}

.bulbee {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    padding-top: 80px;
    text-align: center;
}

.auth-title {
    color: var(--white);
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.form-card {
    box-sizing: border-box;
    background-color: #FFFDFD;
    border: 1px solid #c8d0ce;
    border-radius: 15px;
    margin: 20px;
    padding: 26px;
    text-align: center;
}

.form-card > div {
    /* background-color: aqua; */
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 10px;
}

/* TextField ------------------------------- */

.auth-text-field {
    box-sizing: border-box;
    width: auto;
    height: 30px;
    border: 1px solid #c8d0ce;
    border-radius: 6px;
    outline:0;
    background-color: #FFFDFD;
    font-size: 16px;
    padding: 0 8px;
    color: #1A1B25;
}

.auth-text-field:focus {
    border: 1px solid #392061;
}

.auth-address-field {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    border: 1px solid #c8d0ce;
    border-radius: 6px;
    outline:0;
    background-color: #FFFDFD;
    font-size: 16px;
    padding: 0 8px;
    color: #1A1B25;
    justify-content: start;
    text-overflow: wrap;
}

.auth-address-field:focus {
    border: 1px solid #392061;
}

.auth-text-field-label {
    box-sizing: border-box;
    display: block;
    width: 300px;
    margin-bottom: 3px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #1A1B25;
}

.not-auth-text {
    color: red;
    text-align: start;
    /* background-color: aqua; */
}

.submit-button {
    /* display: block; */
    width: 300px;
    height: 40px;
    margin-bottom: 10px; 
    border-radius: 15px;
    background-color: #392061;
    font-size: 20px;
    font-weight: 700;
    line-height: 2px;
    vertical-align: middle;
}

.redirect-text {
    font-size: 14px;
    color: #525252;
    text-decoration: underline;
    display: block;
}

.redirect-text:hover {
    color: #392061;
    text-decoration: underline;
    margin-bottom: 0 !important;
}