.confirm-pic {
    width: 151px;
    height: 151px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.confirm-message-1 {
    text-align: center;
    color: var(--black);
    line-height: 30px;
}

.confirm-message-2 {
    text-align: center;
    color: var(--black);
    line-height: 21px;
    margin-top: 15px;
}

.divider {
    border-top: 1px solid var(--lightgrey);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.my-order {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--black);
}

.my-order-box {
    height: 150px;
    border: 1px solid var(--lightgrey);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;  
}

.product-img {
    width: 68px;
    height: 68px;
    border: 1px solid var(--lightgrey);
    border-radius: 15px;
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 16px;
    margin-top: 30px;

}

.product-img > img {
    width: 68px;
    height: 68px;
    border-radius: 15px;
}

.product-name {
    grid-area: 1 / 2 / 3 / 5;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: var(--black);
}

.product-detail {
    font-weight: 500;
    font-size: 14px;
    color: var(--darkgrey);
    grid-area: 3 / 2 / 4 / 5;
    line-height: 10px;
    margin-top: -30px;
}

.product-price {
    grid-area: 2 / 5 / 3 / 6;
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    margin-right: 16px;
    margin-top: 30px;
}

.product-price > img {
    width: 20px;
    height: 20px;
    align-items: center;
    margin-top: 24px;
}