.product-cat-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    /* gap: 10px; */
    width: 100%;
    /* padding-left: 2px; */
    margin-left: 20px;
}  

.back-link {
    width: 123px;
    height: 20px;
    flex-shrink: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
}