.product-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 19px;
    justify-content: center;
}  

.back-link {
    color: var(--darkgrey);
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;   
    margin: 20px;
}