.category > div {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
  }
  
.category-box {
    width: 167px;
    height: 129px;
    border-radius: 15px;
    border: 1px solid var(--lightgrey);
    background: #FFFDFD;
    display: flex;
    position: relative;
}

.text-area {
    width: 167px;
    height: 40px;
    border-top: 1px solid #C8D0CE;
    margin-top: 89px;
    display: grid;
    grid-template-columns: 100px 1px 66px
}

.category-name {
    font-size: 10px;
    color: var(--black);
    font-weight: 700;
    margin-left: 13px;
}

.item-value {
    font-size: 10px;
    font-weight: 400;
    color: var(--darkgrey);
    grid-column-start: 3;
    text-align: right;
    margin-right: 13px;
}