.header {
    background-color: #392061;
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .bulbee-logo {
    color: #FFFDFD;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
  }
  
  .profile {
    width: 30px;
    height: 30px;
    margin-top: 14px;
    margin-left: 10px;
  }
  
  .bulb-balance-top {
    grid-column: 3;
    width: 93px;
    height: 30px;
    background-color: #FFFDFD;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }
  
  .balance-top-img {
    width: 18px;
    height: 18px;
    margin-left: 12px;
  }
  
  .bulb-balance-top > p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 15px;
  }