.header {
    background-color: #392061;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    width: 393px;
    height: 67px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
=======
>>>>>>> merge
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
    position: sticky;
    top: 0;
    z-index: 100;
  }

=======
>>>>>>> origin/Kong
    position: sticky;
    top: 0;
  }

<<<<<<< HEAD
  /* .header > h1 {
  color: #FFFDFD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  padding-left: 25px;
  flex-grow: 1;
  width: 33%;
} */

=======
>>>>>>> origin/Kong
>>>>>>> merge
  .bulbee-logo {
    color: #FFFDFD;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
<<<<<<< HEAD
    text-align: center;
=======
<<<<<<< HEAD
    margin-left: 24px;
=======
    text-align: center;
>>>>>>> origin/Kong
>>>>>>> merge
  }
  
  .profile {
    width: 30px;
    height: 30px;
    margin-top: 14px;
    margin-left: 10px;
  }
  
  .bulb-balance-top {
<<<<<<< HEAD
    grid-column: 3;
=======
<<<<<<< HEAD
=======
    grid-column: 3;
>>>>>>> origin/Kong
>>>>>>> merge
    width: 93px;
    height: 30px;
    background-color: #FFFDFD;
    border-radius: 15px;
    margin-top: 25px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }
=======
>>>>>>> merge
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }
<<<<<<< HEAD
=======
>>>>>>> origin/Kong
>>>>>>> merge
  
  .balance-top-img {
    width: 18px;
    height: 18px;
    margin-left: 12px;
  }
  
  .bulb-balance-top > p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 15px;
  }