@media (max-width: 375px) {
    body {
        font-family: Poppins;
        background-color: #FFFDFD;
    }
}

* {
    font-family: Poppins;
}

.back-link {
    display: flex;
    width: 123px;
    height: 20px;
    flex-shrink: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.seperate-line {
    width: 337px;
    height: 2px;
    background: #C8D0CE;;
    margin: 20px 0;
    border-bottom: 1px;
}

.bulb-png {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    float: right;
    margin-top: 2px;
}

.bulb-png2 {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    float: right;
    margin-top: 0px;
}

.product-image {
    display: flex;
    margin-right: 10px;
    clear: both;
}

.order-summary {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
}

.product-description {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.product-name {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    float: left;
    margin-right: 10px;
}

.product-bulb {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float: right;
    margin-left: 10px;
}

.discount-container {
    display: flex;
    align-items: center;
}

.head-sub {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}

.discount-text {
    font-weight: 700;
    font-size: 14px;
    width: 252px;
    height: 30px;
    /* flex-shrink: 0; */
    fill: #FFFDFD;
    stroke-width: 1px;
    stroke: #C8D0CE;
    font-weight: 700;
    display: flex;
}

.discount-button {
    flex: 1;
    width: 70px;
    height: 35px;
    border-radius: 6px;
    background: #392061;
    justify-content: center;
    justify-items: center;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.confirm-button {
    width: 71.575px;
    height: 30px;
    border-radius: 6px;
    background: #392061;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.text-both {
    display: flex;
    justify-content: space-between;
  }
  
  .text-both-sub {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
  }

.total-payment {
    display: flex;
    justify-content: space-between;
  }
  
  .total-payment-left {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
  }
  
  .total-payment-right {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;  
}

.detail {
    color: #1A1B25;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}

.additional-box {
    width: 337px;
    height: 78px;
    flex-shrink: 0;

    fill: #FFFDFD;
    stroke-width: 1px;
    stroke: #C8D0CE;
}

.confirm-button {
    width: 353px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #392061;

    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit; 
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
    text-align: center; 
}

.footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}