@media (max-width: 375px) {
    body {
        font-family: Poppins;
        background-color: #FFFDFD;
    }
}

* {
    font-family: Poppins;
}

.back-link {
    display: flex;
    width: 123px;
    height: 20px;
    flex-shrink: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.order-summary {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
}

.discount-container {
    display: flex;
    align-items: center;
}

.input-text {
    font-weight: 700;
    font-size: 14px;
    width: 252px;
    height: 30px;
    flex-shrink: 0;
    fill: #FFFDFD;
    stroke-width: 1px;
    stroke: #C8D0CE;
    font-weight: 700;
    display: flex;
}

.apply-button {
    flex: 1;
    width: 71.575px;
    height: 30px;
    border-radius: 6px;
    background: #392061;
    justify-content: center;
    justify-items: center;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.seperate-line {
    width: 337px;
    height: 1px;
    background: #C8D0CE;
}

.confirm-button {
    width: 71.575px;
    height: 30px;
    border-radius: 6px;
    background: #392061;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}