@media (max-width: 375px) {
    body {
        font-family: Poppins;
        background-color: #FFFDFD;
    }
}

.back-link {
    display: flex;
    width: 123px;
    height: 20px;
    flex-shrink: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.order-summary {
    color: #1A1B25;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-code {
    width: 252px;
    height: 30px;
    flex-shrink: 0;
    fill: #FFFDFD;
    stroke-width: 1px;
    stroke: #C8D0CE;
}

.apply-button {
    width: 71.575px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #392061;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}