@media (max-width: 375px) {
    body {
        font-family: Poppins;
        background-color: #FFFDFD;
    }
}
* {
    font-family: Poppins;
}

.back-link {
    display: flex;
    width: 123px;
    height: 20px;
    flex-shrink: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.product-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
}

.product-description {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}

.description-text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}

.bulb-price {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
}

.bulb-png {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    margin-left: 1px;
    margin-top: 5px;
}

.product-quantity {
    display: flex;
    align-items: center;
    /* position: fixed;
    bottom: 10; */
}

.quantity-text {
    color: #1A1B25;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.quantity-number {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    width: 166px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    font-weight: 700;
    border: 1px solid #000;
}

.quantity-button {
    color: #1A1B25;
    font-weight: bold;
    cursor: pointer;
    padding: 0 10px;
}

.buynow-button {
    width: 353px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #392061;

    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit; 
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
    text-align: center; 
}

.footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}