.back-link {
    color: var(--darkgrey);
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;   
    margin: 20px;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.product-image {
    
    border: 0.5px solid var(--lightgrey);
}

.product-image > img {
    width: 100%;
    height: 100%;
}

.product-title {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
}

.product-description {
    color: var(--black);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.description-text {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-left: 5px;
}

.bulb-price {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bulb-png {
    width: 22px;
    height: 22px;
    margin-left: 1px;
    margin-top: 7px;
}

.button-area {
    width: 100%;
    height: 120px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    gap: 10px;
    position: sticky;
    bottom: 0;
    padding-top: 10px;
}

.quantity-text {
    color: #1A1B25;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    grid-column: 1 / 2;
    grid-row: 1;
    margin-left: 20px;
    padding: 5px;
}

.quantity-number {
    justify-content: space-between;
    width: 170px;
    height: 40px;
    border-radius: 6px;
    font-weight: 700;
    border: 1px solid var(--black);
    grid-column: 2;
    grid-row: 1;
    background-color: var(--white);
    display: inline-flex;
    justify-self: flex-start;
    align-items: center;
    margin-left: 34px;
    
}

.quantity-button {
    color: #1A1B25;
    font-weight: bold;
    cursor: pointer;
    padding: 0 10px;
    align-items: center;
    align-self: auto;
}

.buynow-button {
    width: auto;
    height: 50px;
    border-radius: 15px;
    background: var(--purple);
    justify-content: center;
    color: var(--white);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    grid-row: 2;
    grid-column: 1 / 3;
    margin-left: 20px;
    margin-right: 28px;
    line-height: 5px;
}